<a href="https://colab.research.google.com/github/SANJU-KR/PYTHON_PROGRAMMING_LAB____BCA_VE_024/blob/main/Python_Programming_Lab___2025_09_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Write a program to create a tuple and print its elements.

elements = input("Enter elements for the tuple separated by commas: ").split(',')
my_tuple = tuple(elements)
print("The tuple is:", my_tuple)

Enter elements for the tuple separated by commas:  Sanju,Gunjan,Divya

The tuple is: ('Sanju', 'Gunjan', 'Divya')

In [ ]:
# Write a program to access tuple elements using indexing and slicing.

elements = input("Enter elements for the tuple separated by commas: ").split(',')
my_tuple = tuple(elements)

print("Tuple:", my_tuple)
index = int(input("Enter index to access element: "))
print("Element at index", index, "is", my_tuple[index])

start = int(input("Enter start index for slicing: "))
end = int(input("Enter end index for slicing: "))
print("Sliced tuple:", my_tuple[start:end])

Enter elements for the tuple separated by commas:  a,b,c,d,e

Tuple: ('a', 'b', 'c', 'd', 'e')

Enter index to access element:  2

Element at index 2 is c

Enter start index for slicing:  1
Enter end index for slicing:  4

Sliced tuple: ('b', 'c', 'd')

In [ ]:
# Write a program to find the length of a tuple using len().

elements = input("Enter elements for the tuple separated by commas: ").split(',')
my_tuple = tuple(elements)

print("Length of the tuple:", len(my_tuple))

Enter elements for the tuple separated by commas:  5,6,41,2

Length of the tuple: 4

In [ ]:
# Write a program to check if an element exists in a tuple using in operator.

elements = input("Enter elements for the tuple separated by commas: ").split(',')
my_tuple = tuple(elements)

item = input("Enter an element to check if it exists in the tuple: ")
if item in my_tuple:
    print(item, "exists in the tuple.")
else:
    print(item, "does not exist in the tuple.")

Enter elements for the tuple separated by commas:  Mercedez,BMW,Audi
Enter an element to check if it exists in the tuple:  Audi

Audi exists in the tuple.

In [ ]:
# Write a program to concatenate two tuples and display the result.

tuple1 = tuple(input("Enter elements of first tuple separated by commas: ").split(','))
tuple2 = tuple(input("Enter elements of second tuple separated by commas: ").split(','))

result = tuple1 + tuple2
print("Concatenated tuple:", result)

Enter elements of first tuple separated by commas:  BMW, M5
Enter elements of second tuple separated by commas:  Audi,R8

Concatenated tuple: ('BMW', ' M5', 'Audi', 'R8')

In [ ]:
# Write a program to repeat a tuple multiple times using *.

elements = input("Enter elements for the tuple separated by commas: ").split(',')
my_tuple = tuple(elements)

times = int(input("Enter number of times to repeat the tuple: "))
result = my_tuple * times
print("Repeated tuple:", result)

Enter elements for the tuple separated by commas:  Red,Blue
Enter number of times to repeat the tuple:  8

Repeated tuple: ('Red', 'Blue', 'Red', 'Blue', 'Red', 'Blue', 'Red', 'Blue', 'Red', 'Blue', 'Red', 'Blue', 'Red', 'Blue', 'Red', 'Blue')

In [ ]:
# Write a program to convert a list to a tuple using tuple().

elements = input("Enter list elements separated by commas: ").split(',')
my_list = list(elements)
my_tuple = tuple(my_list)

print("Tuple converted from list:", my_tuple)

Enter list elements separated by commas:  L,O,Q

Tuple converted from list: ('L', 'O', 'Q')

In [ ]:
# Write a program to unpack a tuple into variables.

elements = input("Enter exactly three elements for the tuple separated by commas: ").split(',')
if len(elements) == 3:
    a, b, c = tuple(elements)
    print("Unpacked values:")
    print("a =", a)
    print("b =", b)
    print("c =", c)
else:
    print("Please enter exactly 3 elements.")

Enter exactly three elements for the tuple separated by commas:  Sanju,MRIIRS,BCA

Unpacked values:
a = Sanju
b = MRIIRS
c = BCA

In [ ]:
# Write a program to swap two numbers using tuple unpacking.

a = input("Enter first number: ")
b = input("Enter second number: ")

print("Before swapping: a =", a, ", b =", b)
a, b = b, a
print("After swapping: a =", a, ", b =", b)

Enter first number:  5
Enter second number:  55

Before swapping: a = 5 , b = 55
After swapping: a = 55 , b = 5

In [ ]:
# Write a program to find sum, min, and max of numeric tuple elements.

elements = input("Enter numeric elements for the tuple separated by commas: ").split(',')
num_tuple = tuple(map(int, elements))

print("Tuple:", num_tuple)
print("Sum:", sum(num_tuple))
print("Minimum:", min(num_tuple))
print("Maximum:", max(num_tuple))

Enter numeric elements for the tuple separated by commas:  62,88,77,45

Tuple: (62, 88, 77, 45)
Sum: 272
Minimum: 45
Maximum: 88

In [ ]:
# Write a program to count occurrences of an element in a tuple using count().
t = tuple(map(int, input("Enter tuple elements separated by space: ").split()))
element = int(input("Enter element to count occurrences: "))
count = t.count(element)
print(f"Occurrences of {element} in tuple: {count}")

Enter tuple elements separated by space:   1 22 22 5 3 66 55 22
Enter element to count occurrences:  22

Occurrences of 22 in tuple: 3

In [ ]:
# Write a program to find index of an element in a tuple using index().

t = tuple(map(int, input("Enter tuple elements separated by space: ").split()))
element = int(input("Enter element to find index: "))

try:
    idx = t.index(element)
    print(f"Index of {element} in tuple: {idx}")
except ValueError:
    print(f"{element} is not in the tuple")

Enter tuple elements separated by space:  10 20 3 0 40 50
Enter element to find index:  0

Index of 0 in tuple: 3

In [ ]:
# Write a program to sort a tuple in ascending and descending order.

t = tuple(map(int, input("Enter tuple elements separated by space: ").split()))

asc = tuple(sorted(t))
desc = tuple(sorted(t, reverse=True))

print(f"Ascending order: {asc}")
print(f"Descending order: {desc}")

Enter tuple elements separated by space:  101 522 696 985 9898645

Ascending order: (101, 522, 696, 985, 9898645)
Descending order: (9898645, 985, 696, 522, 101)

In [ ]:
# Write a program to convert tuple of tuples to dictionary.

t = tuple(eval(input("Enter tuple of tuples (e.g. ((1, 'a'), (2, 'b'))): ")))

d = dict(t)
print(f"Dictionary: {d}")

Enter tuple of tuples (e.g. ((1, 'a'), (2, 'b'))):  ((1, 'a'), (2, 'b'), (3, 'c'))

Dictionary: {1: 'a', 2: 'b', 3: 'c'}

In [ ]:
# Write a program to find duplicate elements in a tuple.

t = tuple(map(int, input("Enter tuple elements separated by space: ").split()))

duplicates = set()
seen = set()
for x in t:
    if x in seen:
        duplicates.add(x)
    else:
        seen.add(x)

print(f"Duplicate elements: {tuple(duplicates)}")

Enter tuple elements separated by space:  11 22 11 22 11 22 33 33

Duplicate elements: (33, 11, 22)

In [ ]:
# Write a program to check if two tuples are equal.

t1 = tuple(map(int, input("Enter first tuple elements separated by space: ").split()))
t2 = tuple(map(int, input("Enter second tuple elements separated by space: ").split()))

if t1 == t2:
    print("Tuples are equal")
else:
    print("Tuples are not equal")

Enter first tuple elements separated by space:  33 65 95
Enter second tuple elements separated by space:  54 985 9

Tuples are not equal

In [ ]:
# Write a program to remove duplicates from a tuple by converting to set.

t = tuple(map(int, input("Enter tuple elements separated by space: ").split()))

t_no_duplicates = tuple(set(t))

print(f"Tuple after removing duplicates: {t_no_duplicates}")

Enter tuple elements separated by space:  99 66 5 54 458 95 99 66 5

Tuple after removing duplicates: (66, 99, 5, 458, 54, 95)

In [ ]:
# Write a program to merge multiple tuples into one.

n = int(input("Enter number of tuples to merge: "))
merged = ()

for i in range(n):
    t = tuple(map(int, input(f"Enter tuple {i+1} elements separated by space: ").split()))
    merged += t

print(f"Merged tuple: {merged}")

Enter number of tuples to merge:  4
Enter tuple 1 elements separated by space:  3 44
Enter tuple 2 elements separated by space:  55 6
Enter tuple 3 elements separated by space:  11 3
Enter tuple 4 elements separated by space:  77 0

Merged tuple: (3, 44, 55, 6, 11, 3, 77, 0)

In [ ]:
# Write a program to find the element-wise sum of two tuples.

t1 = tuple(map(int, input("Enter first tuple elements separated by space: ").split()))
t2 = tuple(map(int, input("Enter second tuple elements separated by space: ").split()))

if len(t1) != len(t2):
    print("Tuples must be of the same length.")
else:
    summed = tuple(a + b for a, b in zip(t1, t2))
    print(f"Element-wise sum: {summed}")

Enter first tuple elements separated by space:  99 66 00 5
Enter second tuple elements separated by space:  63 4 8 9

Element-wise sum: (162, 70, 8, 14)

In [ ]:
# Write a program to check if a tuple is palindrome (same forward and backward).
t = tuple(map(int, input("Enter tuple elements separated by space: ").split()))
if t == t[::-1]:
    print("Tuple is palindrome")
else:
    print("Tuple is not palindrome")

Enter tuple elements separated by space:  1 4 5 89 96

Tuple is not palindrome